{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle tâche{% endblock %}

{% block body %}
    <h1 class="my-4">Créer une nouvelle tâche</h1>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.status, 'Statut', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.status, {'attr': {'class': 'form-select'}}) }}
        </div>

        <button class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('task_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
